<div class="container">
	<h1>Muselisation</h1>

	Carousel of different visualisations

	<%= link_to("3d", threeD_path ) %>
	<%= link_to("Dots", dots_path ) %> 
	<%= link_to("Circles", circles_path ) %>
	<%= link_to("Colour", colour_path ) %>

</div>