
html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}

h1{
    color: white;
    text-shadow: 2px 2px black;
}

#playerControls {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 3;
    color: white;
    overflow: hidden;
    opacity: 0.8;
}


.themes {
    position:absolute;
    z-index: 5;
    right: 0;
    text-align: right;
}

#input {
    width: 300px;
    /*border-radius: 10%;*/
}