<!DOCTYPE html>
<html>
<head>
  <title>Muselisation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="themes">
	<h1>Muselisation</h1>
	<select class="visual">
		<option value="kaleidoscope">Kaleidoscope</option>
		<option value="galaxy">Galaxy</option>
	</select>
</div>

<div class="visualisation"></div>

    <!-- Soundcloud input field -->
	    <div id="playerControls">
	        <form id="form" class="form-group">
	            <input id="input" class="form-control" placeholder="https://soundcloud.com/artist/track">
	            <button type="submit" id="submit"> <i class="fa fa-play"></i> </button>
	          <br>
	        </form>
	        <audio id="player" controls autoplay preload autobuffer></audio>
	   </div>

	<script src="//connect.soundcloud.com/sdk.js"></script>


</body>
</html>
