<!DOCTYPE html>
<html>
<head>
  <title>Muselisation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
Test Canvas
<canvas id="canvas" width="300" height="200"></canvas>
<audio id="player"></audio>

<%= yield %>

	<div class="control_panel">
		<div id="inner_panel">
			<select class="lists">
				<option value="Default">Default</option>
			</select>
			<button id="saveSettings">Save</button>
			<button class="newList">New</button>
			<button class="deleteList">Delete</button>
			<p>Size: <input id="sizeInput" type="range" name="range" min="-5" max="5"></p>
		</div>
		<div id="closeControls">Close controls</div>
	</div>

    <!-- Soundcloud input field -->
	    <div id="playerControls">
	        <form id="form">
	            <input id="input" placeholder="Paste Soundcloud URL here (https://soundcloud.com/artist/track)">
	            <button type="submit" id="submit"><i class="icon-play"></i></button><br>
	        </form>
	        <audio id="player" controls autoplay preload autobuffer></audio>
	   </div>

	<script src="//connect.soundcloud.com/sdk.js"></script>


</body>
</html>
